/* You can add global styles to this file, and also import other style files */
.lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

  .h1{
    font-family: "Lato", sans-serif;
    font-weight: 700;
  }

  label{
    font-family: "Lato", sans-serif;
    font-weight: 400;
  }

  .btn{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #f4f4f4; /* Color de fondo de la página */
    font-family:  "Lato", sans-serif; /* Fuente moderna */
  }
  