<div class="container mt-5">
    <h1>Task List</h1>
    <div>
        <label for="statusFilter">Filtrar por estdo:</label>
        <select id="statusFilter" style="width: 40%;" (change)="onStatusChange($event)" class="form-select">
            <option value="all">Todas</option>
            <option value="completed">Completas</option>
            <option value="pending">Pendientes</option>
        </select>
    </div>
    <!-- Mensaje cuando no hay tareas -->
    <div *ngIf="filteredTasks.length === 0" class="alert alert-info mt-3">
        No hay tareas en este momento.
    </div>

    <div *ngFor="let task of filteredTasks" class="border p-3 mt-3">
        <h4>{{ task.name }}</h4>
        <p>Fecha limite: {{ task.deadline }}</p>
        <p>Estado: {{ task.completed ? 'Completada' : 'Pendiente' }}</p>

        <h5>Persona designada:</h5>
        <ul>
            <li *ngFor="let person of task.people">
                {{ person.name }} (Edad: {{ person.age }}) - Habilidades: {{ person.skills.join(', ') }}
            </li>
        </ul>

        <button class="btn" [ngClass]="task.completed ? 'btn-warning' : 'btn-success'"
            (click)="task.completed ? markAsPending(task) : markAsCompleted(task)">
            {{ task.completed ? 'Mark as Pending' : 'Mark as Completed' }}
        </button>
    </div>
    <button class="btn btn-primary mt-3" routerLink="/tasks">Crear nueva tarea</button>
</div>
<router-outlet></router-outlet>